.sideBar {
    height: 95%;
    width: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    border-radius: 20px;
    margin-left: 10px;
    padding-top: 20px;

}


@media only screen and (max-width: 600px) {
    .sideBar{
        width: 50px;
        margin-left: 5px;
        border-radius: 15px;
    }
}